.res-tab{
  overflow: auto;
}

h2{
  font-style: italic;
  text-align: center;
  color: #094a89;
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

thead{
  background-color: dodgerblue;
  color: white;
}

th,td{
  border: 2px solid #ddd;
}

/* css for output file table*/
.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}
