{% extends 'authentication/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'authentication/css/signup_signin.css' %}">

  </head>
  <body>
<div class="wrap">
    <h2>Sign in</h2>

    <form action="{% url 'signin' %}" method="post">
      {% csrf_token %}

        <input name='name'  type="text" placeholder="username" required>
        <input name='password'  type="password" placeholder="password" required>
        <br>
        <br>
        <center><button type="Submit" >Sign in</button></center>
        <br>
        <br>

        {% if messages %}
        {% for message in messages %}
        <li>{% if message.tags %} {% endif %} {{ message }}</li>
        {% endfor %}
        {% endif %}
        <h3>if you are new <a href={% url 'signup' %}>click here</a> for signup</h3>
    </form>

</div>
  </body>
</html>


{% endblock %}
